/node_modules/   # Ігнорує папку з залежностями Node.js
/dist/           # Ігнорує вихідну папку з файлами
/build/          # Ігнорує папку з побудованими файлами проєкту
*.log       # Ігнорує всі файли з розширенням .log
*.tmp       # Ігнорує всі тимчасові файли
*.bak       # Ігнорує файли резервних копій
Thumbs.db    # Файл Windows
.vscode/     # Папка налаштувань Visual Studio Code
.idea/       # Папка налаштувань IntelliJ IDEA
.env             # Файл середовищних змінних
credentials.json # Файл з обліковими даними
secret.txt      # Конкретний файл
/logs/          # Конкретна папка з журналами
